/* Back font and type */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
}

* {
    box-sizing: border-box;
}

/* Header style */
.header {
    background-color: #A9B388;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./pics/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 20px;
    color: white;
}

.logo {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    animation: floatLogo 3s ease-in-out infinite;
}
@keyframes floatLogo {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(-5px) scale(1.05);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

.header-text {
    margin: 20px 5px;
    text-align: right;

}

nav {
    background-color: #A9B388;
    display: flex;
    justify-content: flex-start;
    transition: width 0.5s, height 0.5s;

}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: burlywood;
    color: white;
    width: 100px;
    height: 50px;

}

.search-box {
  display: flex;
  justify-content: center;
  background-color: #A9B388;
  padding: 2px 5px;
  margin-left: auto;
}

.search-box button {
  background: none;
  border: none;
  color: #555;
  font-size: 16px;
  
}

.search-box button:hover {
  color: #000;
  transform: scale(1.05);
}

.section {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
/* left side setting */
.left {
    width: 30%;
    background-color: #FEFAE0;
    padding: 20px; 
    border-radius: 8px;
}

/* Form style*/

input{
    width: 100%;
    height: 30px;
}

label{
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    margin-top: 2rem;
}

input[type="text"], input[type="email"] {

    padding: 2px 2px;
    margin: 8px 0px;
    border: 2px solid #A9B388;
}

input[type="radio"] {
    width: 20px;
    
}

input[type="radio"] + label {
    color: #B99470;
}

textarea {
    border: 2px solid #A9B388;
     width: 100%;
}

input[type="submit"] {
    background-color:#A9B388;
    color: white;
    width: 30%;
    direction: center;
    border-color: #A9B388;
    width: 100%;
} 

.submit-btn:hover {
    background-color: #5F6F52;     
    transform: scale(1.05);   /* a little bigger */
    font-weight: bold;    
}

/* Customer Evaluation style */
.testimonial {
  background-color: #A9B388;
  border-left: 4px solid #B99470;
  padding: 15px;
  font-style: italic;
  border-radius: 5px;
  margin-top: 50px;
}


/* right side setting */
.right {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #A9B388;
    padding: 20px;    
    border-radius: 8px;
    gap: 20px;
}


/* service model */
.service {
  background-color: #FEFAE0;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.service h3 {
  margin: 10px 0 5px;
  color: #333;
}

.service p {
  color: #555;
}


/* the concept sentence style */
.quote {
  font-weight: bold;
  font-size: 1rem;
  color: #2a2a2a;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}


.img-team {
    background-color: lightgray;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.img {
    background-color: lightgray;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}



/* Footer style */
.footer {
    background-color: #B99470;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
